<div class="flex items-center gap-x-3 text-smd {{ class }}">
  {% render 'theme-icons' with 'star' %}
  <div>
    Earn <span class="font-bold" data-lion-points-for="{{ cart.total_price }}"></span> Cachet Club points with this
    order.
    <br>
    <div>
      {% if customer %}
        <a href="{{ logged_in_link }}" class="underline block">
          {{ logged_in_link_text }}
        </a>
      {% else %}
        <a href="{{ guest_link }}" class="underline block">
          {{ guest_link_text }}
        </a>
      {% endif %}
    </div>
  </div>
</div>
