{%- liquid
  assign class = class | prepend: 'form ' | strip

  if title contains ' | t'
    assign title = title | replace: ' | t' | t
  endif

  if text contains ' | t'
    assign text = text | replace: ' | t' | t
  endif
-%}

{% form 'reset_customer_password', class: class, id: 'ResetPasswordForm' %}
  {%- if title or text -%}
    <header class="form__header">
      {%- if title -%}
        <h2 class="text-2xl font-medium mb-2 tracking-standard">{{ title }}</h2>
      {%- endif -%}

      {%- if text -%}
        <p>{{ text }}</p>
      {%- endif -%}
    </header>
  {%- endif -%}

  <div class="form__fields">
    <label class="o-input{%- if form.errors %} has-error{%- endif -%}" data-field="input">
      <input
        id="Password"
        class="o-input__field"
        name="customer[password]"
        type="password"
        autocomplete="new-password"
        placeholder="{{ 'customer.reset.form.password' | t }}"
        {% if form.errors %}
          aria-invalid="true"
          aria-describedby="Password-error"
        {% endif %}
      >
      <span class="sr-only">{{ 'customer.reset.form.password' | t }}</span>

      {%- if form.errors contains 'password' -%}
        <small id="Password-error" class="o-input__error">
          {%- render 'theme-icons' with 'error', width: 16, height: 16 -%}
          {{ form.errors.translated_fields.password | capitalize }}
          {{ form.errors.messages.password }}
        </small>
      {%- endif -%}
    </label>

    <label class="o-input{%- if form.errors %} has-error{%- endif -%}" data-field="input">
      <input
        id="PasswordConfirmation"
        class="o-input__field"
        name="customer[password_confirmation]"
        type="password"
        autocomplete="new-password"
        placeholder="{{ 'customer.reset.form.password_confirm' | t }}"
        {% if form.errors %}
          aria-invalid="true"
          aria-describedby="PasswordConfirmation-error"
        {% endif %}
      >
      <span class="sr-only">{{ 'customer.reset.form.password_confirm' | t }}</span>

      {%- if form.errors contains 'password_confirmation' -%}
        <small id="PasswordConfirmation-error" class="o-input__error">
          {%- render 'theme-icons' with 'error', width: 16, height: 16 -%}
          {{ form.errors.translated_fields.password_confirmation | capitalize }}
          {{ form.errors.messages.password_confirmation }}
        </small>
      {%- endif -%}
    </label>
  </div>

  <div class="form__footer">
    <button class="button button--primary button--full" type="submit">
      {{ 'customer.reset.form.submit' | t }}
    </button>
    <a
      class="button button--secondary button--full"
      href="#login"
      onclick="return Shopify.theme.showLoginForm();"
    >
      {{ 'customer.reset.form.cancel' | t }}
    </a>
  </div>
{% endform %}
