{%- liquid
  render 'theme_assets' with 'section-hero.min.css'
  render 'section-spacing-and-color'

  capture display_section_snippet
    render 'section_user-restriction'
  endcapture
  assign display_section = display_section_snippet | strip

  # Spacing Class (Required)
  capture section_padding_class
    echo 'section-spacing--' | append: section.settings.padding
  endcapture

  # Slider
  capture slider_snippet
    render 'slider-settings', target: section
  endcapture

  assign slider_snippet = slider_snippet | split: ' ** '

  assign slider_settings = slider_snippet[0]
  assign slider_classes = slider_snippet[1]
  assign slider_variables = slider_snippet[2]

  assign aspect_ratio_dsk = '1424 / 576'
  assign aspect_ratio_mob = '366 / 488'
  assign banner_ratio = section.settings.banner_ratio
  assign banner_ratio_dsk = section.settings.banner_ratio_dsk

  if banner_ratio != ''
    assign aspect_ratio_mob = banner_ratio | replace: ' ', ''
  endif

  if banner_ratio_dsk != ''
    assign aspect_ratio_dsk = banner_ratio_dsk | replace: ' ', ''
  endif
-%}

{% if display_section == 'false' %}
  <style>
    #shopify-section-{{section.id}} {
      padding: 0 !important;
      margin: 0 !important;
    }
  </style>
{% endif %}

{% if display_section == 'true' %}
  {{ slider_variables }}

  <ecomplete-slider
    class="slider slider--slideshow {{ section_padding_class }} {{ slider_classes }}"
    {{ slider_settings }}
  >
    <div
      class="slider__viewport"
      data-slider="viewport"
    >
      <ul class="slider__track">
        {%- liquid
        assign is_first_section = true
        if section.index != blank and section.index > 1
          assign is_first_section = false
        endif
      -%}
      {%- for block in section.blocks -%}
          <li
            class="hero hero--{{ section.settings.height }} hero--standard {% if section.settings.padding == 'padded' %} hero--padded{% endif %}"
            style="--overlay:{{ block.settings.overlay | default: 'none' }}"
            {% if block.settings.cta_1_link %}
              data-href="{{ block.settings.cta_1_link }}"
              onclick="window.location.href='{{ block.settings.cta_1_link }}'"
              style="cursor: pointer;"
            {% endif %}
            {{ block.shopify_attributes }}
          >
            {%- liquid
              assign media_class = 'hero__media o-picture--fill'
              assign vid_media_class = 'o-video__container--ratio'
              assign image_class = 'o-img--' | append: block.settings.image_fit
              assign video_src = block.settings.video_file | default: block.settings.video_url
              assign video_src_mob = block.settings.video_file_mob | default: block.settings.video_url_mob

              if video_src
                assign play_video_on_mobile = block.settings.play_mobile

                assign should_preload = false
                if forloop.first and is_first_section
                  assign should_preload = true
                endif
                capture placeholder
                  render 'object-image' with block.settings.image, mobile_image: block.settings.image_mobile, preload: should_preload, class: 'o-video__image js-video-image', img_class: image_class, visible_placeholder: false, aspect: aspect_ratio_dsk, aspect_mobile: aspect_ratio_mob
                endcapture

                render 'object-video' with video_src, video_mob: video_src_mob, placeholder: placeholder, autoplay: block.settings.video_autoplay, muted: block.settings.video_muted, loop: true, fit: 'cover', class: media_class, vid_media_class: vid_media_class, play_on_mobile: play_video_on_mobile, aspect: aspect_ratio_dsk, aspect_mobile: aspect_ratio_mob
              endif
            -%}
            {%- if video_src == blank and block.settings.image -%}
              {%- liquid
                assign should_preload = false
                if forloop.first and is_first_section
                  assign should_preload = true
                endif
              -%}
              {%- render 'object-image' with block.settings.image,
                mobile_image: block.settings.image_mobile,
                preload: should_preload,
                class: media_class,
                img_class: image_class,
                visible_placeholder: false,
                aspect: aspect_ratio_dsk,
                aspect_mobile: aspect_ratio_mob
              -%}
            {%- endif -%}
            {%- render 'object-content',
              block: block.settings,
              attributes: block.shopify_attributes,
              class: 'hero__text'
            -%}

            {%- unless section.settings['slider_dots-'] %}
              {%- render 'shop-the-look',
                products: block.settings.stl_products,
                position: block.settings.stl_position,
                title: block.settings.stl_title
              -%}
            {% endunless %}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </ecomplete-slider>
{% endif %}
