{% style %}
  #shopify-section-{{ section.id }} {
      --row-spacing: {{ section.settings.spacing }};
      --bg: {{ section.settings.background_color }};
      --section-padding: {{ section.settings.padding }};
  }
{% endstyle %}

<div class="grid lg:grid-cols-2 gap-y-9 max-lg:mt-6">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'media' -%}
        <div class="{%- if block.settings.mobile_hidden -%}hidden lg:flex{%- endif -%}">
          {%-
            render 'object-image'
            with block.settings.image,
            mobile_image: block.settings.image_mobile,
            class: 'o-picture--fill',
            aspect: '840 / 745',
            aspect_mobile: '1 / 1',
            preload: true,
          -%}
        </div>
    {%- endcase -%}
  {%- endfor -%}

  <div class="flex justify-center px-5  max-w-[756px] mx-auto w-full pt-12 lg:pt-14 only:col-span-2">
    <div class="self-center  max-md:items-center text-grey-0">
      <h1 class="text-5xl font-medium mb-9 font-heading">
        {{ 'customer.reset.title' | t }}
      </h1>

      {%- render 'form-reset_password', title: 'customer.reset.subtitle | t', text: 'customer.reset.subtext | t' -%}
    </div>
  </div>
</div>
