{% liquid
  capture display_section_snippet
    render 'section_user-restriction'
  endcapture
  assign display_section = display_section_snippet | strip
%}
{% if display_section == 'false' %}
  <style>
    #shopify-section-{{section.id}} {
      padding: 0 !important;
      margin: 0 !important;
    }
  </style>
{% endif %}

{% if display_section == 'true' %}
  {%- if cart != empty -%}
    {%- render 'section-spacing-and-color' -%}

    {%- assign section_header = section.blocks | where: 'type', 'section_header' | first -%}
    {%- if section_header -%}
      {%- render 'object-content',
        block: section_header.settings,
        attributes: section_header.shopify_attributes,
        class: 'section-header mb-12 md:mb-6',
        heading_font_weight: 'font-medium'
      -%}
    {%- endif -%}

    <juno-slider
      class="c-products-slider slider slider--products slider--full"
      enabled="{{ section.settings.slider_enabled }}"
      loop
      showArrows
    >
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {% when 'recommended' %}
            {% liquid
              assign product_id = cart.items.first.product_id
            %}
            <product-recommendations
              class="slider__viewport"
              data-slider="viewport"
              data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product_id }}&limit={{ block.settings.limit }}&intent={{ block.settings.intent }}"
              {{ block.shopify_attributes }}
            >
              {%- if recommendations.performed and recommendations.products_count > 0 -%}
                <ul class="slider__track">
                  {%- for item in recommendations.products -%}
                    <li class="slider__item">
                      {%- render 'card-product',
                        product: item,
                        aspect_ratio: '300 / 384',
                        product_index: forloop.index
                      -%}
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </product-recommendations>
        {%- endcase -%}
      {%- endfor -%}
    </juno-slider>
  {%- endif -%}
{% endif %}
