{%- liquid
  render 'section-spacing-and-color', width: 800

  capture display_section_snippet
    render 'section_user-restriction'
  endcapture
  assign display_section = display_section_snippet | strip

  assign section_hidden = true
-%}

{% if display_section == 'false' %}
  <style>
    #shopify-section-{{section.id}} {
      padding: 0 !important;
      margin: 0 !important;
    }
  </style>
{% endif %}

{% if display_section == 'true' %}
  {%- assign section_header = section.blocks | where: 'type', 'section_header' | first -%}
  {%- if section_header -%}
    {%- render 'object-content',
      block: section_header.settings,
      attributes: section_header.shopify_attributes,
      class: 'section-header mb-9'
    -%}
  {%- endif -%}

  <ul class="flex flex-col gap-[20px]">
    {%- assign blocks = section.blocks | where: 'type', 'item' -%}
    {%- for block in blocks -%}
      {% if block.settings.text != blank and block.settings.info != blank %}
        {%- assign section_hidden = false -%}

        <li aria-hidden="true"><hr class="o-hr"></li>

        <li class="grid grid-cols-2 gap-x-2" {{ block.shopify_attributes }}>
          <p class="font-bold">{{ block.settings.text }}</p>
          <p>{{ block.settings.info }}</p>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% if section_hidden %}
    {% style %}
      #shopify-section-{{ section.id }} {
        display: none;
      }
    {% endstyle %}
  {% endif %}
{% endif %}
