{% render 'section-spacing' %}

{%- liquid
  capture display_section_snippet
    render 'section_user-restriction'
  endcapture
  assign display_section = display_section_snippet | strip

  capture title_class
    case section.settings.text_color
      when 'dark'
        echo ' text-grey-0'
      when 'light'
        echo ' text-white'
    endcase
  endcapture

  capture text_class
    case section.settings.text_color
      when 'dark'
        echo ' text-brand-bramble'
      when 'light'
        echo ' text-white'
    endcase
  endcapture
-%}

{% if display_section == 'false' %}
  <style>
    #shopify-section-{{section.id}} {
      padding: 0 !important;
      margin: 0 !important;
    }
  </style>
{% endif %}

{% if display_section == 'true' %}
  {%- assign section_header = section.blocks | where: 'type', 'section_header' | first -%}
  {%- assign section_ctas = section.blocks | where: 'type', 'ctas' | first -%}
  {%- if section_header -%}
    {%- render 'object-content',
      block: section_header.settings,
      attributes: section_header.shopify_attributes,
      class: 'section-header mb-6 md:mb-12',
      heading_class: 'normal-case'
    -%}
  {%- endif -%}

  <ul class="grid grid-cols-12 gap-x-6 gap-y-6 md:gap-y-12">
    {%- assign blocks = section.blocks | where: 'type', 'logo' -%}
    {%- for block in blocks -%}
      <li class="col-span-12 md:col-span-4" {{ block.shopify_attributes }}>
        <div class="card card--icons-text">
          {% if block.settings.image %}
            <div class="card__media">
              {%- render 'object-image' with block.settings.image,
                class: 'rounded-2 overflow-hidden',
                img_class: 'o-img--contain',
                aspect: '1 / 1'
              -%}
            </div>
          {% endif %}

          <div class="card__content text-base {{ text_class }}">
            {% if block.settings.title != blank %}
              <p class="text-[27px] font-heading font-normal tracking-0 text-brand-bramble">{{ block.settings.title }}</p>
            {% endif %}

            {{ block.settings.text }}

            {%- if block.settings.cta_label != blank -%}
              <p class="text-brand-bramble">
                <a
                  class="button button--{{ block.settings.cta_type | default: 'primary' }}"
                  {% if block.settings.cta_link == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.cta_link }}"
                  {% endif %}
                  {%- if block.settings.cta_target -%}
                    target="_blank" rel="noreferrer"
                  {%- endif -%}
                >
                  {{ block.settings.cta_label }}
                </a>
              </p>
            {%- endif -%}
          </div>
        </div>
      </li>
    {%- endfor -%}
  </ul>

  {%- if section_ctas -%}
    <div class="flex justify-center mt-6 md:mt-12">
      {%- render 'object-ctas',
        settings: section_ctas.settings,
        cta_sizes: section_ctas.settings.cta_sizes,
        cta_sizes_dsk: section_ctas.settings.cta_sizes_desktop,
        last_cta_index: 2,
        cta_custom_class: 'w-full md:flex md:justify-center'
      -%}
    </div>
  {%- endif -%}
{% endif %}
