<form
  is="nst-predictive-search"
  class="nst-predictive-search"
  id="HeaderSearchForm"
  isPredictive
  action="{{ routes.search_url }}"
  method="get"
  role="search"
  data-loading-text="{{ 'accessibility.loading' | t }}"
  data-customer-is-logged-in="{% if customer %}true{% else %}false{% endif %}"
>
  <input type="hidden" name="type" value="product">
  <input type="hidden" name="options[prefix]" value="last">

  <div class="nst-predictive-search__search">
    <label
      class="nst-predictive-search__input o-input"
      data-field="input"
      for="Search-In-Modal-1"
    >
      <input
        class="nst-predictive-search__input-field js-header-search-input"
        id="Search-In-Modal-1"
        type="search"
        name="q"
        placeholder="{{ 'snippets.nosto.predictive_search.form.input.placeholder' | t }}"
        value="{{ search.terms | escape }}"
        role="combobox"
        aria-expanded="false"
        aria-owns="predictive-search-results"
        aria-controls="predictive-search-results"
        aria-haspopup="listbox"
        aria-autocomplete="list"
        autocorrect="off"
        autocomplete="off"
        autocapitalize="off"
        spellcheck="false"
      >
      <span class="sr-only">{{ 'snippets.nosto.predictive_search.form.input.placeholder' | t }}</span>
    </label>

    <button
      class="header__search-submit"
      aria-hidden="true"
      type="submit"
    >
      {%- render 'theme-icons' with 'search-dark', width: 28, height: 28 -%}
      <span class="sr-only">{{ 'snippets.nosto.predictive_search.form.submit' | t }}</span>
    </button>
  </div>

  {%- # Dropdown Component -%}
  <div class="nst-predictive-search__dropdown js-nst-predictive-search-dropdown" tabindex="-1">
    <span
      class="sr-only js-nst-predictive-search-status"
      role="status"
      aria-hidden="true"
      data-nosto-search-results-empty-text="{{- 'snippets.nosto.predictive_search.results.empty' | t -}}"
      data-nosto-search-results-found-text="{{- 'snippets.nosto.predictive_search.results.found' | t -}}"
    ></span>

    <div
      class="nst-predictive-search__loading-state js-nst-predictive-search-loading-indicator"
      aria-hidden="false"
    >
      <div class="loading-overlay__spinner">
        {%- render 'theme-icons' with 'loading' -%}
      </div>
    </div>

    <div
      class="nst-predictive-search__results"
      id="nst-predictive-search-results"
      role="listbox"
    >
      <div
        id="nst-predictive-search-results-wrapper"
        class="nst-predictive-search__results-wrapper"
      >
        {% if settings.nosto_predictive_search_links != blank %}
          <div class="nst-predictive-search__suggestions-wrapper">
            <h2
              id="nst-predictive-search-queries"
              class="nst-predictive-search__heading"
            >
              {{- 'snippets.nosto.predictive_search.headings.popular' | t -}}
            </h2>

            <hr role="presentation" class="nst-predictive-search__divider o-hr">

            {{
              settings.nosto_predictive_search_links
              | replace: '<ul', '<ul class="space-y-3"'
              | replace: '<li', '<li class="nst-predictive-search__list-item"'
            }}
          </div>
        {% endif %}

        {%- # Nosto Suggestions -%}
        <div class="nst-predictive-search__suggestions-wrapper">
          <h3
            class="nst-predictive-search__heading"
            id="nst-predictive-search-suggestions"
          >
            {{- 'snippets.nosto.predictive_search.headings.suggestions' | t -}}
          </h3>

          <hr role="presentation" class="nst-predictive-search__divider o-hr">

          <ul
            class="nst-predictive-search__list nst-predictive-search__list--suggestions js-nst-predictive-search-list-suggestions"
            role="group"
            aria-labelledby="nst-predictive-search-suggestions"
            data-nosto-suggestion-template='
              <li
                id="nst-predictive-search-option-suggestion-[[item_index]]"
                class="nst-predictive-search__list-item nst-predictive-search__list-item--suggestion"
                role="option"
                aria-selected="false"
              >
                <a
                  href="/search?_pos=1&_psq=[[item_query]]&_ss=e&_v=1.0&q=[[item_suggestion_text_handleized]]"
                  class="nst-predictive-search__item"
                  tabindex="-1"
                  title="[[item_suggestion_accessibility_text]]"
                  aria-label="[[item_suggestion_accessibility_text]]"
                >
                  [[item_suggestion_text]]
                </a>
              </li>
            '
          ></ul>
        </div>

        {%- # Nosto Products -%}
        <div class="nst-predictive-search__products-wrapper">
          <h3
            id="nst-predictive-search-products"
            class="nst-predictive-search__heading"
          >
            {{- 'snippets.nosto.predictive_search.headings.products' | t -}}
          </h3>

          <hr role="presentation" class="nst-predictive-search__divider o-hr">

          <ul
            class="nst-predictive-search__list nst-predictive-search__list--products js-nst-predictive-search-list-products"
            role="group"
            aria-labelledby="nst-predictive-search-products"
            data-nosto-product-template='
              <li
                id="nst-predictive-search-option-product-[[item_index]]"
                class="nst-predictive-search__list-item nst-predictive-search__list-item--product"
                role="option"
                aria-selected="false"
              >
                <a
                  href="/products/[[item_product_handle]]"
                  class="nst-predictive-search__item"
                  tabindex="-1"
                >
                  <img
                    class="object-contain"
                    src="[[item_product_image_src]]"
                    alt="[[item_product_title]]"
                    width="64"
                    height="82"
                    loading="eager"
                  >

                  <div class="nst-predictive-search__item-details">
                    <p class="nst-predictive-search__item-heading">
                      [[item_product_title]]
                    </p>
                    <p class="nst-predictive-search__item-price">
                      [[item_product_image_price]]
                    </p>
                  </div>
                </a>
              </li>
            '
          ></ul>
        </div>

        {%- # Nosto Collections -%}
        <div class="nst-predictive-search__collections-wrapper">
          <h3
            class="nst-predictive-search__heading"
            id="nst-predictive-search-collections"
          >
            {{- 'snippets.nosto.predictive_search.headings.collections' | t -}}
          </h3>

          <hr role="presentation" class="nst-predictive-search__divider o-hr">

          <ul
            class="nst-predictive-search__list nst-predictive-search__list--collections js-nst-predictive-search-list-collections"
            role="group"
            aria-labelledby="nst-predictive-search-collections"
            data-nosto-collection-template='
              <li
                id="nst-predictive-search-option-collection-[[item_index]]"
                class="nst-predictive-search__list-item nst-predictive-search__list-item--collection"
                role="option"
                aria-selected="false"
              >
                <a
                  href="[[item_collection_url]]"
                  class="nst-predictive-search__item"
                  tabindex="-1"
                  title="[[item_collection_title]]"
                  aria-label="[[item_collection_title]]"
                >
                  [[item_collection_title]]
                </a>
              </li>
            '
          ></ul>
        </div>

        {%- # Nosto Pages and Articles -%}
        <div class="nst-predictive-search__pages-and-articles-wrapper">
          <h3
            id="nst-predictive-search-pages-and-articles"
            class="nst-predictive-search__heading"
          >
            {{- 'snippets.nosto.predictive_search.headings.pages' | t -}}
          </h3>

          <hr role="presentation" class="nst-predictive-search__divider o-hr">

          <ul
            class="nst-predictive-search__list nst-predictive-search__list--pages-and-articles js-nst-predictive-search-list-pages-and-articles"
            role="group"
            aria-labelledby="nst-predictive-search-pages-and-articles"
            data-nosto-page-template='
              <li
                id="nst-predictive-search-option-page-[[item_index]]"
                class="nst-predictive-search__list-item nst-predictive-search__list-item--page"
                role="option"
                aria-selected="false"
              >
                <a
                  href="[[item_page_url]]"
                  class="nst-predictive-search__item"
                  tabindex="-1"
                >
                  [[item_page_title]]
                </a>
              </li>
            '
            data-nosto-article-template='
              <li
                id="nst-predictive-search-option-article-[[item_index]]"
                class="nst-predictive-search__list-item nst-predictive-search__list-item--article"
                role="option"
                aria-selected="false"
              >
                <a
                  href="[[item_article_url]]"
                  class="nst-predictive-search__item"
                  tabindex="-1"
                >
                  <div class="nst-predictive-search__item-details">
                    <p class="nst-predictive-search__item-heading">
                      [[item_article_title]]
                    </p>
                  </div>
                </a>
              </li>
            '
          ></ul>
        </div>
      </div>

      <hr role="presentation" class="nst-predictive-search__divider o-hr">
      <button
        class="nst-predictive-search__search-for-button"
        tabindex="-1"
        role="option"
        aria-selected="false"
      >
        <span
          class="js-nst-predictive-search-query-notifier"
          data-nosto-search-current-query-text="{{- 'snippets.nosto.predictive_search.search_for' | t -}}"
        ></span>

        {%- render 'theme-icons' with 'arrow-right', classes: 'icon-arrow' -%}
      </button>
    </div>

    {% # No results %}
    <h3
      class="nst-predictive-search__no-results js-nst-predictive-search-no-results-notice"
      data-nosto-search-results-empty-text="{{- 'snippets.nosto.predictive_search.results.empty' | t -}}"
    >
      {{- 'snippets.nosto.predictive_search.results.empty' | t -}}
    </h3>
  </div>
</form>
